.hero-section{
    background-color: #DCF2F1;
    height: 40vh;
    color: #7FC7D9;
    position: relative;
}

.hero-name{
    font-family: 'Sacramento', cursive;
}

.top-icon{
    height: 50px;
    position: absolute;
    right: 30px;
    top: 40px;
}

a{
    color: #82a0d4;
    text-decoration: none;
}

a:hover{
    color: #7FC7D9;
}

.hidden{
    display: none;
    font-size: x-small;
}

.top-icon:hover + .hidden{
    display: block;
    color: #0e83a0;
    position: absolute;
    right: 30px;
    top: 80px;
}

.paint-pallet{
    height: 100px;
    position: absolute;
    top: 30vh;
}

.hero-border{
    background-color: #365486;
    height: 10px;
}

.profile-heading{
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    color: #7FC7D9;
}

.profile-cloud{
    display: block;
    float: end;
    color: #DCF2F1;
}

.table-heading{
    background-color: #0F1035;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.light-blue-row{
    background-color: #DCF2F1;
}

.dark-blue-row{
    background-color: #7FC7D9
}

.profile-section{
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    color: #7FC7D9;
}

hr.line{
    border-top: 1px dashed black;
}

.btn-primary{
    width:fit-content;
    background-color: #0F1035;
    border: none;
}

.btn-primary:hover{
    background-color: #365486;
}